build/
cmake-build-*/

*.exe
*.out
*.app

pricer
delta
delta_long_double
gamma
gamma_long_double

*.o
*.obj

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile
install_manifest.txt

.vscode/
.idea/

*.tmp
*.swp
*~

.venv/
